@import "tailwindcss";

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

/* Tùy chỉnh thanh cuộn siêu mượt bằng CSS thuần */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

/* Hiệu ứng lướt sáng cho nút bấm */
@keyframes shimmer {
  100% { transform: translateX(100%); }
}
.animate-shimmer {
  animation: shimmer 1.5s infinite;
}